/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
    
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
/* 
    HEADER
*/

header {
    background-color: #ADD8E6;
}
/* 
    HEADER-TOP
*/

.top{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons{
    display: flex;
    width: 100%;
}

.icon{
    flex-grow: 1;
}

.icon:nth-of-type(3){
    display: flex;
    justify-content: flex-end ;
}

.icon:nth-of-type(2){
    flex-grow:2;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;
}

li{
    list-style: none;
}

/* 
    HEADER BOTTOM
*/

header .bottom{
    width: 100%;
    display: flex;
}

.hero-fuchsia{
    width: 50%;
    margin: 35px auto;
}

/* 
    SECTION 1
*/

.section{
    min-height: 500px;
}

main > section:nth-of-type(2) > .container{
flex-direction: row-reverse;
}

/* 
    DEBUG
*/

.debug header .top{
    min-height: 50px;
}

.debug header .top .icon {
    background-color: #DAA520;
    border: 1px dashed black;
}

.debug header .bottom{
    background-color: #00008B;
    min-height: 400px;
}

.hero-fuchsia{
    background-color: #EE81EE;
    border: 1px dashed black;
    min-height: 75%;
}

.debug main .container{
    border: 1px dashed black;
    min-height: 450px;
    margin: 35px auto;
}

.debug main .container .hero-blue{
    background-color: #1C90FF;
    width: 70%;
}

.debug main .container .hero-pink{
    background-color: #FEC0CA;
    width: 30%;
}

.debug main .container .hero-green{
    background-color: #228B21;
    width: 100%;
    min-height: 900px;
}